<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fortes Engenharia</title>
    <link rel="stylesheet" href="../../css/Fortes/Aprovação-Inst.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div id="bola">
        <img src="../../images/FORTES_LOGOMARCA.png" alt="Fortes Engenharia Logo" class="logo" />
      </div>
      <nav>
        <ul>
          <li><a href="#">A Fortes</a></li>
          <li><a href="#">Setores de Atuação</a></li>
          <li><a href="#">Soluções Fortes</a></li>
          <li><a href="#">Integridade</a></li>
          <li><a href="#">InovaFortes</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <main>
        <div class="content">
          <div class="project-card">
            <img src="../../images/McDiaFeliz.png" alt="MC Dia Feliz" class="project-logo" />
            <div class="project-details">
              <h2>MC Dia Feliz</h2>
              <p><strong>Status:</strong> Em andamento</p>
              <p><strong>Área:</strong> Assistência Social</p>
              <p><strong>Valor:</strong> R$2.000,00</p>
              <p><strong>Email:</strong> mcdiafeliz@instituto-ronald.org.br</p>
            </div>
            <div class="project-status">
              <a href="./Cadastro-Inst.html"
                ><p>
                  Info. básica de cadastro
                  <span class="status complete"><i class="fas fa-check-circle"></i></span></p
              ></a>

              <a href="./inf.avançadas_de_cadastro.html"
                ><p>
                  Info. avançada de cadastro
                  <span class="status pending"><i class="fas fa-clock"></i></span></p
              ></a>

              <a href="./documentacao-inst.html"
                ><p>
                  Documentos <span class="status pending"><i class="fas fa-clock"></i></span></p
              ></a>
            </div>
          </div>
          <div class="instructions">
            <p>
              Todos os requisitos para essa instituição se tornar apta a participar do programa
              fortificar foram alcaçados.
            </p>
            <p>
              Selecione as 3 melhores propostas para a avaliação da diretoria e clique no botão
              abaixo caso ela tenha aceito a proposta da instituição.
            </p>
          </div>
          <button id="convocar-btn">
            <a href="./Aprovação2-Inst.html">Convocar Instituição</a>
          </button>
        </div>
      </main>
    </div>
    <footer>
      <div class="footer-buttons">
        <a href="./Monitoramento_Fortes.html"
          ><button id="save-btn"><i class="fas fa-save"></i> Salvar e Voltar</button></a
        >

        <a href="./Home.html"
          ><button id="home-btn"><i class="fas fa-home"></i> Home</button></a
        >
      </div>
      <p>Rodapé</p>
    </footer>
  </body>
</html>
