<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Envio de Documentos</title>
    <link rel="stylesheet" href="../../css/Fortes/documentacao-inst.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header>
      <div class="logo" id="bola">
        <img src="../../images/FORTES_LOGOMARCA.png" alt="Fortes Engenharia" />
      </div>
      <nav>
        <ul>
          <li><a href="#">A Fortes</a></li>
          <li><a href="#">Setores de Atuação</a></li>
          <li><a href="#">Soluções Fortes</a></li>
          <li><a href="#">Integridade</a></li>
          <li><a href="#">InovaFortes</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section class="menu">
      <div class="arrow"></div>
      <nav class="vertical-menu">
        <a href="./Home.html"><i class="ph ph-house"></i>Home</a>
        <a href="./Propostas.html"><i class="ph ph-file"></i>Propostas</a>
        <a href="./Configuracoes-inst.html"><i class="ph ph-gear"></i>Minha Conta</a>
      </nav>
    </section>

    <main>
      <section class="documentation">
        <h1>Documentação</h1>
        <ul class="document-list">
          <li>
            <span>ATA DE ELEIÇÃO DOS DIRIGENTES</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="lock-button"></button>
          </li>
          <li>
            <span>ESTATUTO OU CONTRATO SOCIAL</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="lock-button"></button>
          </li>
          <li>
            <span>CARTÃO DO CNPJ EM NOME DO PROPONENTE</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="lock-button"></button>
          </li>
          <li>
            <span>CHEQUE OU DECLARAÇÃO DO BANCO</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="edit-button"></button>
          </li>
          <li>
            <span>CPF e RG (Presidente)</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="edit-button"></button>
          </li>
          <li>
            <span>CPF e RG (Vice-Presidente)</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="edit-button"></button>
          </li>
          <li>
            <span>CPF e RG (Responsável Financeiro)</span>
            <a href="./documentacao-inst.html" class="document-link">VisualizarArquivo</a>
            <button class="edit-button"></button>
          </li>
        </ul>
        <div id="botoes">
          <a href="./Aprovação-Inst.html"><button class="save-button">Recusar</button></a>
          <a href="./Aprovação-Inst.html"><button class="save-button">Validar</button></a>
        </div>
      </section>
    </main>

    <footer>
      <p>Rodapé</p>
    </footer>
  </body>
</html>
