<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Funcionários</title>
    <link rel="stylesheet" href="../../css/Fortes/Home.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <div id="bola">
          <img src="../../images/FORTES_LOGOMARCA.png" alt="Logo Fortes Engenharia" />
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">A Fortes</a></li>
          <li><a href="#">Setores de Atuação</a></li>
          <li><a href="#">Soluções Fortes</a></li>
          <li><a href="#">Integridade</a></li>
          <li><a href="#">InovaFortes</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section class="menu">
      <div class="arrow"></div>
      <nav class="vertical-menu">
        <a href="./Home.html" id="menu-active"><i class="ph ph-house"></i>Home</a>
        <a href="./Propostas.html"><i class="ph ph-file"></i>Propostas</a>
        <a href="./Configuracoes-inst.html"><i class="ph ph-gear"></i>Minha Conta</a>
      </nav>
    </section>

    <main>
      <section class="dashboard">
        <h1>Home - Funcionários</h1>
        <div class="chart">
          <img src="../../images/Grafico.png" alt="Gráfico" />
          <ul>
            <li>25% dos projetos estão na última etapa e não têm mais pendências.</li>
            <li>50% dos projetos estão com pendências em aberto.</li>
            <li>25% dos projetos foram aprovados.</li>
          </ul>
        </div>
      </section>

      <section class="status">
        <h2>Estado das Instituições</h2>

        <div class="status-section">
          <h3>Aprovados</h3>
          <button class="filter-button">Filtro de DOs</button>
          <div class="institutions">
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/Idolo_Social.jpg" alt="Ídolo Social"
              /></a>
              <p>Ídolo Social</p>
              <p>Status: aprovado</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/Acacci.jpg" alt="ACACCI"
              /></a>
              <p>ACACCI</p>
              <p>Status: concluído</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/McDiaFeliz.png" alt="Mc Dia Feliz"
              /></a>
              <p>Mc Dia Feliz</p>
              <p>Status: em andamento</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/Aquecendo_vidas.jpg" alt="Aquece Vid"
              /></a>
              <p>Aquece Vid</p>
              <p>Status: aguardando</p>
            </div>
          </div>
        </div>

        <div class="status-section">
          <h3>Pendentes</h3>
          <button class="filter-button">Filtro de DOs</button>
          <div class="institutions">
            <div class="institution">
              <a href="./Aprovação-Inst.html"> <img src="../../images/AMA.png" alt="AMA" /></a>
              <p>AMA</p>
              <p>Status: aguardando resposta</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/Muitas_Pessoas.png" alt="Muitas Pessoas"
              /></a>
              <p>Muitas Pessoas</p>
              <p>Status: em análise</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/VidasVelhasImportam.png" alt="Vidas que Importam"
              /></a>
              <p>Vidas que Importam</p>
              <p>Status: em análise</p>
            </div>
          </div>
        </div>

        <div class="status-section">
          <h3>Aguardando R.</h3>
          <button class="filter-button">Filtro de DOs</button>
          <div class="institutions">
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/MariaJoao.png" alt="Maria João de Deus"
              /></a>
              <p>Maria João de Deus</p>
              <p>Status: aguardando revisão</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/CasaUniao.png" alt="Casa União"
              /></a>
              <p>Casa União</p>
              <p>Status: aguardando revisão</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/CasaCaridade.png" alt="Casa da Caridade"
              /></a>
              <p>Casa da Caridade</p>
              <p>Status: aguardando revisão</p>
            </div>
            <div class="institution">
              <a href="./Aprovação-Inst.html">
                <img src="../../images/LarDaCaridade.png" alt="Lara da Caridade Vinhedo"
              /></a>
              <p>Lar da Caridade Vinhedo</p>
              <p>Status: aguardando revisão</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>Rodapé</footer>
  </body>
</html>
