<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fortes Engenharia</title>
    <link rel="stylesheet" href="../../css/Fortes/Propostas.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <div id="bola">
          <img src="../../images/FORTES_LOGOMARCA.png" alt="Logo Fortes Engenharia" />
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">A Fortes</a></li>
          <li><a href="#">Setores de Atuação</a></li>
          <li><a href="#">Soluções Fortes</a></li>
          <li><a href="#">Integridade</a></li>
          <li><a href="#">InovaFortes</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section class="menu">
      <div class="arrow"></div>
      <nav class="vertical-menu">
        <a href="./Home.html"><i class="ph ph-house"></i>Home</a>
        <a href="./Propostas.html" id="menu-active"><i class="ph ph-file"></i>Propostas</a>
        <a href="./Configuracoes-inst.html"><i class="ph ph-gear"></i>Minha Conta</a>
      </nav>
    </section>

    <main>
      <h1>Todas as Propostas</h1>
      <div class="filters">
        <select id="situacao">
          <option value="all">Situação</option>
          <!-- Add more options as needed -->
        </select>
        <select id="ods">
          <option value="all">Filtro de ODS</option>
          <!-- Add more options as needed -->
        </select>
        <select id="valor">
          <option value="all">Valor</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      <div class="proposals-grid">
        <!-- Individual proposal items -->
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/Idolo_Social.jpg" alt="Ídolo Social"
          /></a>
          <p>Esporte</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <!-- Add more proposal items as needed -->
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/Acacci.jpg" alt="ACACCI"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/McDiaFeliz.png" alt="MC Dia Feliz"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/Aquecendo_vidas.jpg" alt="Aquecendo vidas"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"><img src="../../images/AMA.png" alt="AMA" /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/Muitas_Pessoas.png" alt="Muitas pessoas"
          /></a>
          <p>Cultura</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/VidasVelhasImportam.png" alt="Vidas velhas importam"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/CasaUniao.png" alt="Casa União"
          /></a>
          <p>Saúde</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/MariaJoao.png" alt="Maria João de Deus"
          /></a>
          <p>Meio Ambiente</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/CasaCaridade.png" alt="Casa da Caridade"
          /></a>
          <p>Educação</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html">
            <img src="../../images/Idolo_Social.jpg" alt="Ídolo Social"
          /></a>
          <p>Esporte</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/Acacci.jpg" alt="ACACCI"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"
            ><img src="../../images/McDiaFeliz.png" alt="MC Dia Feliz"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html">
            <img src="../../images/Aquecendo_vidas.jpg" alt="Aquecendo vidas"
          /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
        <div class="proposal-item">
          <a href="./Monitoramento_Fortes.html"> <img src="../../images/AMA.png" alt="AMA" /></a>
          <p>Assistencia Social</p>
          <p>Valor: R$ 210.700,00</p>
        </div>
      </div>
    </main>
    <footer>
      <p>Rodapé</p>
    </footer>
  </body>
</html>
