<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mc Dia Feliz</title>
    <link rel="stylesheet" href="../../css/Instituicao/Home-inst.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <div id="bola">
          <img src="../../images/FORTES_LOGOMARCA.png" alt="Logo Fortes Engenharia" />
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">A Fortes</a></li>
          <li><a href="#">Setores de Atuação</a></li>
          <li><a href="#">Soluções Fortes</a></li>
          <li><a href="#">Integridade</a></li>
          <li><a href="#">InovaFortes</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>
    <section class="menu">
      <div class="arrow"></div>
      <nav class="vertical-menu">
        <a href="./Home-inst.html" id="menu-active"><i class="ph ph-house"></i>Home</a>
        <a href="./VisualizarCadastro.html"><i class="ph ph-file"></i>Cadastro</a>
        <a href="./documentacao-inst.html"><i class="ph ph-folder"></i>Documentação</a>
        <a href="./Monitoramento-Inst.html"><i class="ph ph-binoculars"></i>Monitoramento</a>
        <a href="./Configuracoes-inst.html"><i class="ph ph-gear"></i>Minha Conta</a>
      </nav>
    </section>
    <main>
      <section class="content">
        <div class="mc-dia-feliz">
          <div id="bola">
            <img src="../../images/McDiaFeliz.png" alt="Mc Dia Feliz" />
          </div>
          <h1>Mc Dia Feliz</h1>
          <div class="progress-bar">
            <div class="step completed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"
                ></path>
              </svg>
            </div>
            <div class="linha"></div>
            <div class="step completed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"
                ></path>
              </svg>
            </div>
            <div class="linha"></div>
            <div class="step">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"
                ></path>
              </svg>
            </div>
            <div class="linha"></div>
            <div class="step"></div>
          </div>
          <div class="message-box">
            <p>
              Parabéns, o projeto "Mc Dia Feliz" está apto para participar do Programa Fortificar!
            </p>
            <p>
              A iniciativa da sua organização entre outras serão apresentadas à Diretoria para
              aprovação dos projetos a serem apoiados no ano.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>Rodapé</p>
    </footer>
    <script src="../../js/Home-Inst.js"></script>
  </body>
</html>
