<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitoramento - Instituição</title>
    <link rel="stylesheet" href="../../css/Instituicao/Monitoramento-Inst.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header>
      <div class="logo" id="bola">
        <img src="../../images/FORTES_LOGOMARCA.png" alt="Fortes Engenharia" />
      </div>
      <nav>
        <ul>
          <li><a href="#">A Fortes</a></li>
          <li><a href="#">Setores de Atuação</a></li>
          <li><a href="#">Soluções Fortes</a></li>
          <li><a href="#">Integridade</a></li>
          <li><a href="#">InovaFortes</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section class="menu">
      <div class="arrow"></div>
      <nav class="vertical-menu">
        <a href="./Home-inst.html"><i class="ph ph-house"></i>Home</a>
        <a href="./VisualizarCadastro.html"><i class="ph ph-file"></i>Cadastro</a>
        <a href="./documentacao-inst.html"><i class="ph ph-folder"></i>Documentação</a>
        <a href="./Monitoramento-Inst.html" id="menu-active"
          ><i class="ph ph-binoculars"></i>Monitoramento</a
        >
        <a href="./Configuracoes-inst.html"><i class="ph ph-gear"></i>Minha Conta</a>
      </nav>
    </section>

    <main>
      <section class="monitoramento">
        <div class="visitas">
          <h2>Visitas técnicas</h2>
          <div class="scrollable">
            <ul>
              <li>12ª Visita <span>27/04/2026</span></li>
              <li>11ª Visita <span>15/02/2026</span></li>
              <li>10ª Visita <span>21/11/2025</span></li>
              <li>9ª Visita <span>18/08/2025</span></li>
              <li>8ª Visita <span>11/05/2025</span></li>
              <li>7ª Visita <span>25/02/2025</span></li>
              <li>6ª Visita <span>19/10/2024</span></li>
              <li>5ª Visita <span>14/08/2024</span></li>
              <li>4ª Visita <span>09/05/2024</span></li>
              <li>3ª Visita <span>13/03/2024</span></li>
              <li>2ª Visita <span>20/02/2024</span></li>
              <li>1ª Visita <span>22/04/2023</span></li>
            </ul>
          </div>
        </div>
        <div class="relatorios">
          <h2>Relatórios Técnicos</h2>
          <div class="scrollable">
            <ul>
              <li>12º Relatório Visita</li>
              <li>11º Relatório Visita</li>
              <li>10º Relatório Visita</li>
              <li>9º Relatório Visita</li>
              <li>8º Relatório Visita</li>
              <li>7º Relatório Visita</li>
              <li>6º Relatório Visita</li>
              <li>5º Relatório Visita</li>
              <li>4º Relatório Visita</li>
              <li>3º Relatório Visita</li>
              <li>2º Relatório Visita</li>
              <li>1º Relatório Visita</li>
            </ul>
          </div>
        </div>
        <div class="reunioes">
          <h2>Reuniões marcadas</h2>
          <div class="scrollable">
            <ul>
              <li>12ª Reunião online <span>18/11/2026 Hora: 20h 00min</span></li>
              <li>11ª Reunião online <span>25/07/2026 Hora: 14h 00min</span></li>
              <li>10ª Reunião online <span>12/05/2026 Hora: 09h 30min</span></li>
              <li>9ª Reunião online <span>20/09/2025 Hora: 19h 00min</span></li>
              <li>8ª Reunião online <span>22/07/2025 Hora: 10h 00min</span></li>
              <li>7ª Reunião online <span>20/04/2025 Hora: 14h 00min</span></li>
              <li>6ª Reunião online <span>09/06/2024 Hora: 20h 00min</span></li>
              <li>5ª Reunião online <span>05/08/2024 Hora: 09h 00min</span></li>
              <li>4ª Reunião online <span>12/03/2024 Hora: 13h 00min</span></li>
              <li>3ª Reunião online <span>24/09/2023 Hora: 20h 00min</span></li>
              <li>2ª Reunião online <span>28/08/2023 Hora: 09h 00min</span></li>
              <li>1ª Reunião online <span>24/04/2023 Hora: 13h 00min</span></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="upload">
        <h2>Enviar fotos para monitoramento:</h2>
        <form id="uploadForm">
          <input type="file" id="fileInput" name="arquivo" />
          <button type="submit">Enviar</button>
        </form>
      </section>
    </main>
    <script src="../../js/Monitoramento-Inst.js"></script>
  </body>
</html>
